@use '../../styles/variables' as *;
@use '../../styles/libs/normalize';

.categories {
  ul {
    display: flex;

    li {
      background-color: var(--category-background);
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition:
        background-color 0.1s ease-in-out,
        filter 0.1s ease-in-out;
      @include normalize.noselect();

      &:hover {
        filter: brightness(0.98);
      }

      &:active {
        filter: brightness(0.95);
      }

      &.active {
        background-color: var(--black);
        color: var(--white);
      }
    }
  }
}
