@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Black.eot');
  src: local('../assets/fonts/Poppins Black'), local('Poppins-Black'),
    url('../assets/fonts/Poppins-Black.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Poppins-Black.woff') format('woff'),
    url('../assets/fonts/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Bold.eot');
  src: local('../assets/fonts/Poppins Bold'), local('Poppins-Bold'),
    url('../assets/fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Poppins-Bold.woff') format('woff'),
    url('../assets/fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/ProximaNova-Regular.eot');
  src: local('../assets/fonts/Poppins Regular'), local('ProximaNova-Regular'),
    url('../assets/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/ProximaNova-Regular.woff') format('woff'),
    url('../assets/fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/ProximaNova-Extrabld.eot');
  src: local('../assets/fonts/Poppins Extrabold'), local('ProximaNova-Extrabld'),
    url('../assets/fonts/Poppins-Extrabld.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Poppins-Extrabld.woff') format('woff'),
    url('../assets/fonts/Poppins-Extrabld.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
