:root {
  --black: #232323;
  --background: #ffdf8c;
  --gray-line: #f6f6f6;
  --orange: #fe5f1e;
  --white: #fff;
  --white-delimiter: rgba(255, 255, 255, 0.25);
  --category-background: #f9f9f9;
  --category-active-background: #282828;
  --box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  --orange-light-5: rgba(254, 95, 30, 0.05);
  --box-shadow-light: 0px 2px 4px rgba(0, 0, 0, 0.04);
  --gray-b6: #b6b6b6;
  --gray-8d: #8d8d8d;
  --gray-77: #777777;
  --gray-line-darker-10: #e0e0e0;
  --gray-line-darker-15: #d4d4d4;
  --gray-line-darker-20: #d9d9d9;
  --gray-line-darker-80: #3d3d3d;
  --gray-line-darker-90: #1a1a1a;
  --gray-b6-darker-50: #333333;

  --container-width: 90%;

  --duration: 0.15s;
}